@using Newtonsoft.Json
@using StoreMMO.Core.ViewModels
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var categoryJson = HttpContextAccessor.HttpContext.Session.GetString("ListCate");
    List<CategoryViewModels> listCat = new List<CategoryViewModels>();
    if (!string.IsNullOrEmpty(categoryJson))
    {
        listCat = System.Text.Json.JsonSerializer.Deserialize<List<CategoryViewModels>>(categoryJson);
    }

}


<header class="header">
    <div class="header-top">
        <div class="container">
           
            <!-- End .header-left -->

            <div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
                <div class="header-dropdown dropdown-expanded d-none d-lg-block">
                    <a href="#">Links</a>
                    <div class="header-menu">
                        <ul>
                            <li><a href="/account/Profile">My Account</a></li>
                            <li><a href="/wishlist/view">My Wishlist</a></li>
                            <li><a href="/cart/view">Cart</a></li>
                           
                        </ul>
                    </div>
                    <!-- End .header-menu -->
                </div>
                <!-- End .header-dropown -->

                <span class="separator"></span>

               


                <span class="separator"></span>

               
                <!-- End .social-icons -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-top -->

    <div class="header-middle sticky-header" data-sticky-options="{'mobile': true}">
        <div class="container">
            <div class="header-left col-lg-2 w-auto pl-0">
                <button class="mobile-menu-toggler text-primary mr-2" type="button">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="/" class="logo">
                    <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/462637742_435613129270424_1153154058747703050_n.png?stp=dst-png_s843x403&_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=neFDnv8gxp0Q7kNvgEXp6cH&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&_nc_gid=AgMsCfiNkQNOCNNdXbm3hT1&oh=03_Q7cD1QGjqvyjpdQe5wMdVsGur3lYEnB4-ZQdQ9KBQsr_mKHgMw&oe=67503D89" width="111" height="44" alt="Porto Logo">
                </a>
            </div>
            <!-- End .header-left -->

            <div class="header-right w-lg-max">
                <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                    @* <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search..." required>
                            <div class="select-custom">
                                <select id="cat" name="cat">
                                    <option value="">All Categories</option>
                                    <option value="4">Fashion</option>
                                    <option value="12">- Women</option>
                                    <option value="13">- Men</option>
                                    <option value="66">- Jewellery</option>
                                    <option value="67">- Kids Fashion</option>
                                    <option value="5">Electronics</option>
                                    <option value="21">- Smart TVs</option>
                                    <option value="22">- Cameras</option>
                                    <option value="63">- Games</option>
                                    <option value="7">Home &amp; Garden</option>
                                    <option value="11">Motors</option>
                                    <option value="31">- Cars and Trucks</option>
                                    <option value="32">- Motorcycles &amp; Powersports</option>
                                    <option value="33">- Parts &amp; Accessories</option>
                                    <option value="34">- Boats</option>
                                    <option value="57">- Auto Tools &amp; Supplies</option>
                                </select>
                            </div>
                            <!-- End .select-custom -->
                            <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                        </div>
                        <!-- End .header-search-wrapper -->
                    </form> *@







                    <form method="get" asp-page="/Home/ViewAllStore">
                    <div class="header-search-wrapper">
                            <input type="text" name="searchString" class="form-control" placeholder="Nhập tên cửa hàng..." />
                    <div class="select-custom">



                    <select id="cat" name="cat">
                                    <option value="" selected>All Categories</option>
                                    @if (listCat.Count > 0)
                                    {
                                        foreach (var item in listCat)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="">All Categories</option>
                                    }

                    </select>
                    </div>
                    <!-- End .select-custom -->
                    <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                    </div>
                    <!-- End .header-search-wrapper -->
                    </form>












                </div>
                <!-- End .header-search -->

              @*   <div class="header-contact d-none d-lg-flex pl-4 pr-4">
                    <img alt="phone" src="~/assets/images/phone.png" width="30" height="30" class="pb-1">
                    <h6><span>Call us now</span><a href="tel:#" class="text-dark font1">+123 5678 890</a></h6>
                </div>
 *@
                <a href="/account/profile" class="header-icon" title="login"><i class="icon-user-2"></i></a>

                <a href="/wishlist/view" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                <div class="dropdown cart-dropdown">
                    <a href="/cart/view" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" >
                        <i class="minicart-icon"></i>
                        <span class="cart-count badge-circle">3</span>
                    </a>

                    

                 
                    <!-- End .dropdown-menu -->
                </div>
                <!-- End .dropdown -->
            </div>
            <!-- End .header-right -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-middle -->

    <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">
        <div class="container">
            <nav class="main-nav w-100">
                <ul class="menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="category.html">Categories</a>
                        <div class="megamenu megamenu-fixed-width megamenu-3cols">
                            <div class="row">
                                <div class="col-lg-4">
                                    <a href="#" class="nolink">List Of Category</a>
                                    <ul class="submenu">
                                        

                                        @foreach(var itemcate in listCat)
                                        {
                                            <li>
                                                <a href="/Home/ViewAllStore?cat=@itemcate.Name">@itemcate.Name</a>
                                            </li>
                                        }
                                       





                                    </ul>
                                </div>
                              
                            </div>
                        </div>
                        <!-- End .megamenu -->
                    </li>
                   
               
                </ul>
            </nav>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .header-bottom -->
</header>