@{
    ViewData["Title"] = "Email Confirmation Sent";
}

 <div class='alert alert-danger'>
                <div class='alert-wrapper'>
                    <h4>Chưa xác nhận email!</h4>
                    <p>
                        Bạn phải xác nhận email trước khi đăng nhập!! Nếu bạn chưa nhận được email, vui lòng bấm gửi lại ở nút bên dưới.
                    </p>
                    <form asp-action='ResendEmailConfirmation' method='post'>
            <input type='hidden' name='email' value="ThanhPQCE171732@fpt.edu.vn" />
                        <button style='float:right' class='btn btn-info mt-xs mb-xs' type='submit'>Gửi lại email</button>
                    </form>
                </div>
            </div>